{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>{% trans "OpenInfra Days Korea 2018" %}</title>

        <!-- Opengraph tag -->
        <meta property="og:site_name" content="{% trans "OpenInfra Days Korea 2018" %}">
        <meta property="og:title" content="{% block og-title %}{% trans "OpenInfra Days Korea 2018" %}{% endblock %}">
        <meta property="og:image" content="{{ domain }}{% block og-image %}{% static "img/og_img.png" %}{% endblock %}">
        <meta property="og:url" content="{{ domain }}{{ request.path }}">
        <meta property="og:description" content="{% block og-desc %}{% trans "OpenInfra Days Korea 2018" %}{% endblock %}">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{% static "css/fontawesome-all.css" %}">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
        <link rel="icon" href="{% static "img/favicon.ico" %}" type="imopenstack_2017-07-13_0155.JPGage/x-icon">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>
	<body>
        <!-- Header -->
        <header id="header" class="header-nav">
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-oidk">
  <div class="container">

  <a class="navbar-brand" href="https://invite.openinfradays.kr/"><img src="{% static "img/logo-alt.png" %}" style="max-height: 40px;"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-white" href="https://event.openinfradays.kr/2018/about/">소개<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-white" href="https://event.openinfradays.kr/2018/schedule1/">1일차 프로그램</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-white" href="https://event.openinfradays.kr/2018/schedule2/">2일차 프로그램</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-white" href="https://event.openinfradays.kr/2018/location/">위치</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-white" href="https://event.openinfradays.kr/2018/registration/">등록 안내</a>
      </li>
    </ul>
  </div>
</nav>

        </header>
        <!-- /Header -->
        {% block content %}{% endblock %}

        <section style="background:#fafafa;">
<div class="container" style="padding: 32px; color: #333;">
  <p>Copyright (c) 2018 OpenStack Korea User Group All Rights Reserved.<br>
      Homepage hosting is supported by <a href="https://d2.naver.com/home"><img alt="Naver D2" style="width: 64px; height: auto;" src="{% static "img/naver-d2.png" %}" /></a>.<br>
      (Code licensed under MIT, Contents licensed under CC BY-SA 4.0)</p>
</div>
</section>

		<!-- preloader -->
		<div id='preloader'><div class='preloader'></div></div>
		<!-- /preloader -->


		<!-- jQuery Plugins -->
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/main.js" %}"></script>

	</body>
</html>
