{% extends "base2.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="main-header" style="background-image:url(https://event.openinfradays.kr/2018/assets/imgs/home-background.jpg); background-repeat: no-repeat; width: 100%; background-size: 100%;">

      <h2 class="display-4 white-text"><b>OpenInfra Days Korea 2018</b></h2>
      <h3 class="white-text">초청 티켓 등록 페이지 (Pre-registration by invitation - free)</h3>
      <p>&nbsp</p>
        <div>
        <a role="button" class="btn btn-primary btn-lg" href="/registration/invite">
        <i class="fas fa-ticket-alt"></i> 초청 등록 (Registration)
        </a>
        <a role="button" class="btn btn-success btn-lg check-btn" href="/registration/check">
        <i class="fas fa-check"></i> 등록 확인 (Check)</a>
        </div>


    </div>

{% endblock %}
