{% extends "base2.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="main-header" style="background-image:url(https://event.openinfradays.kr/2018/assets/imgs/home-background.jpg); background-repeat: no-repeat; width: 100%; background-size: 100%;">
      <h1 class="display-4 white-text"><b>OpenInfra Days Korea 2018 초청 티켓 등록 페이지</b></h1>
      <h3 class="white-text">Open Infrastructure: OpenStack, Containers, and Cloud Native Computing</h3>
      <h5 class="white-text">2018년 6월 28-29일 오전 9:00 ~ 오후 6:00<br>COEX 3층 컨퍼런스룸E (구 Hall E)</h5>
      <p>&nbsp;</p>
      <a role="button" class="btn btn-primary btn-lg" href="/registration/invite">
        <i class="fas fa-ticket-alt"></i> 티켓 등록
      </a>
        <a role="button" class="btn btn-success btn-lg check-btn" href="/registration/check">
        <i class="fas fa-ticket-alt"></i> 등록 확인
      </a>
    </div>

{% endblock %}
