{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<!-- Home -->
<div id="home" class="hero-area">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url({% static "img/home-background.jpg" %})"></div>
    <!-- /Backgound Image -->

    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="white-text">OpenInfraDays Korea 2018</h1>
                    <p class="lead white-text">This is OpenInfraDays Korea 2018 !! Ganbare!!!!</p>
                    <p class="lead white-text">{% trans "Main-Date" %}</p>
                    <p class="lead white-text">{% trans "Main-Location" %}</p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Home -->

<!-- About -->
<div id="about" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-6">
                <div class="section-header">
                    <h2>OpenInfraDays Korea 2018</h2>
                    <p class="lead">{% trans "Main-Introduce-Msg" %}</p>
                </div>

                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fa fa-flask"></i>
                    <div class="feature-content">
                        <h4>OpenSource </h4>
                        <p>{% trans "Main-Opensource-Desc" %}</p>
                    </div>
                </div>
                <!-- /feature -->

                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fa fa-users"></i>
                    <div class="feature-content">
                        <h4>Community</h4>
                        <p>{% trans "Main-Community-Desc" %}</p>
                    </div>
                </div>
                <!-- /feature -->

                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fa fa-comments"></i>
                    <div class="feature-content">
                        <h4>Share our experience</h4>
                        {% trans "Main-Share-Desc" %}
                    </div>
                </div>
                <!-- /feature -->

            </div>

        </div>
        <!-- row -->

    </div>
    <!-- container -->
</div>
<!-- /About -->

<!-- Courses -->
<div id="courses" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">
            <div class="section-header text-center">
                <h2>{% trans "Sponsors" %}</h2>
                <p class="lead">{% trans "Main-Sponsors-Desc" %}</p>
            </div>
        </div>
        <!-- /row -->

        <!-- courses -->
        <div id="courses-wrapper">

            <!-- row -->
            <div class="row">

                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="{% static "img/sponsor_sample.png" %}" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title text-center" href="#">후원사 1</a>
                    </div>
                </div>
                <!-- /single course -->

                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="{% static "img/sponsor_sample.png" %}" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title text-center" href="#">후원사 2</a>
                    </div>
                </div>
                <!-- /single course -->

                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="{% static "img/sponsor_sample.png" %}" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>s
                        <a class="course-title text-center" href="#">후원사 3</a>
                    </div>
                </div>
                <!-- /single course -->

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="{% static "img/sponsor_sample.png" %}" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>s
                        <a class="course-title text-center" href="#">후원사 4</a>
                    </div>
                </div>
                <!-- /single course -->

            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- container -->

</div>
<!-- /Courses -->

{% endblock %}