{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<!-- Home -->
<div id="home" class="hero-area">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url({% static "img/home-background.jpg" %})"></div>
    <!-- /Backgound Image -->

    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="white-text">OpenInfra Days Korea 2018</h1>

                        <p class="lead white-text">
                            <span class="small col-sm-1 align-middle">[Theme]</span>
                            {% trans "Main-Description" %}
                        </p>
                        <p class="lead white-text">
                            <span class="small col-sm-1 align-middle">[Date] </span>
                            {% trans "Main-Date" %}
                        </p>
                        <p class="lead white-text">
                            <span class="small col-sm-1 align-middle">[Venue] </span>
                            {% trans "Main-Location" %}
                        </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Home -->

<!-- About -->
<div id="about" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-6">
                <div class="section-header">
                    <h2>OpenInfra Days Korea 2018</h2>
                    <p class="lead">{% trans "Main-Introduce-Msg" %}</p>
                </div>

                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fa fa-flask"></i>
                    <div class="feature-content">
                        <h4>Open Infrastructure</h4>
                        <p>{% trans "Main-Opensource-Desc" %}</p>
                    </div>
                </div>
                <!-- /feature -->

                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fa fa-users"></i>
                    <div class="feature-content">
                        <h4>Community</h4>
                        <p>{% trans "Main-Community-Desc" %}</p>
                    </div>
                </div>
                <!-- /feature -->

                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fa fa-comments"></i>
                    <div class="feature-content">
                        <h4>Share our experience</h4>
                        {% trans "Main-Share-Desc" %}
                    </div>
                </div>
                <!-- /feature -->

            </div>

        </div>
        <!-- row -->

    </div>
    <!-- container -->
</div>
<!-- /About -->
{% include "sponsors.html" %}

{% endblock %}
