{% load i18n %}
<nav id="nav">

    <ul class="main-menu nav navbar-nav">
        <li><a href={% url "index" %}introduce>{% trans "Home" %}</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Program" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-link" href="/schedule">{% trans "Schedule" %}</a></li>
                <li><a class="dropdown-link" href="{% url "programs" %}">{% trans "Programs" %}</a></li>
                <!--<li><a class="dropdown-link" href="/speakers">{% trans "Speakers" %}</a></li>-->
                <!--<li><a class="dropdown-link" href="/hand-on-lab">{% trans "Hand-On-Lab" %}</a></li>-->
            </ul>
        </li>
        <li><a href="{% url "sponsors" %}">{% trans "Sponsors" %}</a></li>
        <li><a href="{% url "index" %}venue">{% trans "venue" %}</a></li>
        <li><a href="#">{% trans "Registration" %}</a></li>
    </ul>

    <ul class="main-menu nav navbar-nav navbar-right">
    <!--
        {% if user.is_authenticated %}
            <li><a href="#">{% trans "Profile" %}</a></li>
        {% else %}
            <li><a href="/login">{% trans "Login" %}</a></li>
        {% endif %}
    -->
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Language" %}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    {% language language.code %}
                        <li><a class="dropdown-link" href="{% url 'index' %}">{{ language.name_local }}</a></li>
                    {% endlanguage %}
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>