{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<!-- Home -->
<div class="hero-area section">

    <div class="container">
        <div class="row">
            <h1>{% trans "Programs" %}</h1>
        </div>
        <div class="row">
            {% if not object_list %}
                <p>준비중입니다.</p>
            {% endif %}
        </div>
        {% for obj in object_list %}
            <a href="#{{ obj.slug }}">
              <h3 id="{{ obj.slug }}" class="category-title" >
                {{ obj.name }}
              </h3>
            </a>
            <hr>
            <ul class="item-list">
                {% for program in obj.program_set.all %}
                    <li class="program-list-title">
                    <a href="{{ program.get_absolute_url }}">{{ program.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

</div>
<!-- /Home -->
{% endblock %}